APP_NAME="Thirdsan Panel"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://panel.thirdsan.com

LOG_CHANNEL=stack
LOG_LEVEL=error

DB_CONNECTION=sqlite
DB_DATABASE=/var/www/panel/database/panel.sqlite

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync

SANCTUM_STATEFUL_DOMAINS=panel.thirdsan.com

# Panel admin
PANEL_ADMIN_EMAIL=saviour@thirdsan.com
PANEL_ADMIN_NAME="Saviour"

# VPS Info
VPS_IP=82.208.22.164
VPS_HOSTNAME=vmi3391950
THIRDSAN_PATH=/opt/thirdsan
